* {
  padding: 0;
  margin: 0;
  font-size: 14;
}
window#waybar {
  background-color: transparent;
}
window#waybar > box > * {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 0 15px;
}
#window {
  border-bottom: 1px solid white;
  color: white;
  border-radius: 3px;
  padding: 0 3px;
}
#workspaces {
  font-size: 2em;
  margin: 5px;
}
#workspaces button label {
  font-size: 0.8em;
}
#workspaces button {
  min-width: 1em;
  min-height: 1em;
}
#workspaces button.active {
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 0 6px;
}
#workspaces button.urgent {
  border-bottom: 1px solid red;
  padding: 0 6px;
}
#taskbar button {
  margin-right: 3px;
}
#taskbar button.active {
  border-bottom: 1px solid white;
  padding: 0 10px;
}
