@define-color panel-bgc rgba(0, 0, 0, 0.6);
@define-color widget-bgc rgba(20, 20, 20, 0.8);
@define-color widget-border rgba(30, 30, 30, 1);
@define-color button-border rgba(60, 60, 60, 1);

* {
  font-size: 14px;
}
.control-center {
  background-color: @panel-bgc;
  padding: 10px;
}
.widget-volume,
.widget-backlight,
.widget-buttons-grid {
  background-color: @widget-bgc;
  margin: 5px;
  border: 1px solid @widget-border;
}

.widget-buttons-grid button {
  min-width: 60px;
  border-radius: 20px;
  border: 1px solid @button-border;
  margin: 0.5em 0.2em;
}
.widget-buttons-grid button label {
  font-size: 1em;
}

.widget-menubar revealer > * {
  border: 1px solid @widget-border;
  border-radius: 15px;
  margin: 2px 15px;
  margin-left: 200px;
  background: @widget-bgc;
}
.widget-menubar revealer button:hover {
  color: red;
}
.widget-menubar revealer button {
  background: unset;
  border: unset;
  border-radius: unset;
}
.widget-menubar revealer button:last-child {
  border-top: 1px solid @button-border;
}

.widget-buttons-grid button > * {
  color: grey;
  font-size: 20px;
}

.widget-buttons-grid button:checked {
  color: #fff;
  background-color: #1c71d8;
  border-color: #1c71d8;
}

.widget-buttons-grid button:checked > * {
  color: #fff;
}

.control-center-dnd > * {
  min-height: 6px;
  min-width: 6px;
}

.control-center-clear-all {
  background-color: unset;
  padding: unset;
  border: unset;
}

.control-center-clear-all:hover {
  background-color: gray;
}
.control-center-clear-all > * {
  font-size: 20px;
}
.control-center-clear-all {
  padding: 0 20px;
}
